body
    padding-top 61px

.navbar-header a.navbar-brand
    margin-top -15px
    margin-bottom -20px
    h6
        color #ccc

footer
    padding-left 15px
    padding-right 15px
    p
        border-top 1px solid #d7e0e2

.navbar-form
    .form-group
        margin-left 10px
    button
        margin-left 10px

.toast-top-right
    top 70px

.toast-success
    background-color #13987e

.topspace
    margin-top 30px

#drawzone
    background-color rgba(0, 0, 0, 0.1)
    box-shadow 0px 0px 1px #000
    display block
    border-radius 5px

#color-picker
    display none
    background-color rgb(255, 97, 97)
